.top
  - unless current_user
    login please
  - else
    = link_to('refresh', url_for(controller: :feeds, action: :index), remote: true, 'data-type' => :html, class: "refresh_link")
    .container-fluid
      .row-fluid.scroll-container
        .span2.scroll
          %ul#tags.unstyled.nav
        .span3.scroll
          %ul#articles
        .span7.scroll
          %ul#contents

