.btn-group
  .btn= link_to 'upload opml', url_for(action: :upload)
.btn-group
  .btn= link_to 'new feed', new_feed_path

.row.index
  .span3
    %ul#tags
      - @tags.each do |tag|
        %li
          = tag.label
        - unless tag.feeds.empty?
          %ul.feed
            - tag.feeds.each do |feed|
              %li= link_to feed.title, url_for(controller: :articles, action: :index, feed_id: feed.id), remote: true, 'data-type' => :html, class: "feed_link"
  .span3
    %ul#articles
  .span6
    %ul#contents

