%h1 Listing feeds

%table

  %ul
    - @tags.each do |tag|
      %li
        #{tag.label}
        %ul
          - tag.feeds.each do |feed|
            %li= feed.title


-#       %td= link_to 'Show', feed
-#       %td= link_to 'Destroy', feed, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Upload opml', url_for(controller: :feeds, action: :upload)
= link_to 'New Feed', new_feed_path
