.summary
  = raw @article.content
.show_original.btn-group
  = link_to 'original', @article.url, class: "btn show-original-button", target: "_blank"
  = link_to 'save', @article.url, class: "btn save-button"
