// Place all the styles related to the Feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body
  height: 100%
  overflow: hidden

ul
  margin-left: 12px

li
  list-style-type : none

.container-fluid, .row-fluid
  height: 100%

.scroll
  height: 100%

.scroll ul
  height: 100%
  overflow-y: auto
